page-intro {
  .swiper-slide img {
    width: 250px;
  }
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
  .toolbar-ios {
    position: absolute;
    width: 90%;
    top: 20px;
  }
}
