page-intro {
  .swiper-slide img {
    width: 250px;
  }
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
  ion-toolbar {
    position: absolute;
    width: 95% !important;
    top: 10px;
  }
}
